<%= form_with(model: @task) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

<p>
  <%= form.label :status %><br>
  <%= form.text_field :status %>
</p>


  <p>
    <%= form.label :creator %><br>
    <%= form.text_field :creator %>
  </p>

  <p>
    <%= form.label :performer %><br>
    <%= form.text_field :performer %>
  </p>

  <p>
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </p>

  <%= form.submit %>
<% end %>

<%= link_to 'Назад', tasks_path %>
