<h1><%= @task.name %></h1>
<p><%= @task.description %></p>
<p>Статус: <%= @task.status %></p>
<p>Создатель: <%= @task.creator %></p>
<p>Исполнитель: <%= @task.performer.presence || 'Не назначен' %></p>
<p>Завершена: <%= @task.completed ? 'Да' : 'Нет' %></p>

<%= link_to 'Назад', tasks_path %>
